@model IEnumerable<LocadoraDeCarros.Models.Cliente>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

@if (!Model.Any())
{
    <p>Não temos nenhum cliente ainda.</p>
}
else
{
    <table id="clientes" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>CPF</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td> @cliente.Nome</td>
                    <td> @cliente.CPF</td>
                    <td> @cliente.Email</td>
                </tr>
            }
        </tbody>
    </table>
}