@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Locadora de Carros</h1>
    <p class="lead">Aluguéis de automóveis.</p>
    <img src="https://thumbs.dreamstime.com/b/logotipo-azul-do-carro-20118455.jpg" height="150" width="250" img-align="middle" />
    <p>@Html.ActionLink("Conheça nossos modelos", "Index", "Carro", new {area = ""}, new { @class = "btn btn-primary btn-lg"})</p> 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empresas</h2>
        <p>Nossas empresas e filiais.</p>
        <p>@Html.ActionLink("Empresas", "Index", "Empresa", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>Acesso aos clientes.</p>
        <p>@Html.ActionLink("Clientes", "Index", "Cliente", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Funcionarios</h2>
        <p>Acesso aos funcionários.</p>
        <p>@Html.ActionLink("Funcionários", "Index", "Funcionario", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>