@model IEnumerable<LocadoraDeCarros.Models.Empresa>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empresas</h2>

@if (!Model.Any())
{
    <p>Não temos nenhuma empresa ainda.</p>
}
else
{
    <table id="empresas" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome Empresa</th>
                <th>Endereço</th>
                <th>Numero Telefone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var empresa in Model)
            {
                <tr>
                    <td> @empresa.NomeEmpresa</td>
                    <td> @empresa.Endereco</td>
                    <td> @empresa.NumeroTelefone</td>
                </tr>
            }
        </tbody>
    </table>
}